In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori
data=pd.read_csv(r'C:\Users\Admin\Downloads\raw.csv')
data

C:\Users\Admin\AppData\Local\Temp\ipykernel_8184\313837842.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r'C:\Users\Admin\Downloads\raw.csv')

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010/12/1 8:26,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,2010/12/1 8:26,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010/12/1 8:26,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010/12/1 8:26,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010/12/1 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
520131,581587,PACK OF 20 SPACEBOY NAPKINS,12,2011/12/9 12:50,0.85,12680.0,France
520132,581587,CHILDREN'S APRON DOLLY GIRL,6,2011/12/9 12:50,2.10,12680.0,France
520133,581587,CHILDRENS CUTLERY DOLLY GIRL,4,2011/12/9 12:50,4.15,12680.0,France
520134,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,2011/12/9 12:50,4.15,12680.0,France
520135,581587,BAKING SET 9 PIECE RETROSPOT,3,2011/12/9 12:50,4.95,12680.0,France

In [2]:
Revenue=data.copy()

In [3]:
Revenue=Revenue.drop(Revenue[Revenue['Price']=='0'].index)
Revenue=Revenue.drop(Revenue[Revenue['Itemname']=='Adjust bad debt'].index)

In [4]:
Revenue

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010/12/1 8:26,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,2010/12/1 8:26,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010/12/1 8:26,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010/12/1 8:26,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010/12/1 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
520131,581587,PACK OF 20 SPACEBOY NAPKINS,12,2011/12/9 12:50,0.85,12680.0,France
520132,581587,CHILDREN'S APRON DOLLY GIRL,6,2011/12/9 12:50,2.10,12680.0,France
520133,581587,CHILDRENS CUTLERY DOLLY GIRL,4,2011/12/9 12:50,4.15,12680.0,France
520134,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,2011/12/9 12:50,4.15,12680.0,France
520135,581587,BAKING SET 9 PIECE RETROSPOT,3,2011/12/9 12:50,4.95,12680.0,France

In [5]:
New=Revenue.copy()
New['Total']=New['Quantity']*New['Price']

In [6]:
New=New.drop(columns=['Quantity','Price'])
New

,BillNo,Itemname,Date,CustomerID,Country,Total
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,2010/12/1 8:26,17850.0,United Kingdom,15.30
1,536365,WHITE METAL LANTERN,2010/12/1 8:26,17850.0,United Kingdom,20.34
2,536365,CREAM CUPID HEARTS COAT HANGER,2010/12/1 8:26,17850.0,United Kingdom,22.00
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,2010/12/1 8:26,17850.0,United Kingdom,20.34
4,536365,RED WOOLLY HOTTIE WHITE HEART.,2010/12/1 8:26,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...
520131,581587,PACK OF 20 SPACEBOY NAPKINS,2011/12/9 12:50,12680.0,France,10.20
520132,581587,CHILDREN'S APRON DOLLY GIRL,2011/12/9 12:50,12680.0,France,12.60
520133,581587,CHILDRENS CUTLERY DOLLY GIRL,2011/12/9 12:50,12680.0,France,16.60
520134,581587,CHILDRENS CUTLERY CIRCUS PARADE,2011/12/9 12:50,12680.0,France,16.60
520135,581587,BAKING SET 9 PIECE RETROSPOT,2011/12/9 12:50,12680.0,France,14.85

In [7]:
shopping = New

# Group by 'BillNo' and aggregate values
grouped = New.groupby('BillNo').agg({
    'Itemname': lambda x: ', '.join(x),
    'Date': 'first',
    'CustomerID': 'first',
    'Country': 'first',
    'Total': 'sum'
}).reset_index()

# Assign columns to the 'grouped' DataFrame
grouped.columns = ['BillNo', 'Itemname', 'Date', 'CustomerID', 'Country', 'Total']

# Display the grouped DataFrame
grouped

,BillNo,Itemname,Date,CustomerID,Country,Total
0,536365,"WHITE HANGING HEART T-LIGHT HOLDER, WHITE META...",2010/12/1 8:26,17850.0,United Kingdom,139.12
1,536366,"HAND WARMER UNION JACK, HAND WARMER RED POLKA DOT",2010/12/1 8:28,17850.0,United Kingdom,22.20
2,536367,"ASSORTED COLOUR BIRD ORNAMENT, POPPY'S PLAYHOU...",2010/12/1 8:34,13047.0,United Kingdom,278.73
3,536368,"JAM MAKING SET WITH JARS, RED COAT RACK PARIS ...",2010/12/1 8:34,13047.0,United Kingdom,70.05
4,536369,BATH BUILDING BLOCK WORD,2010/12/1 8:35,13047.0,United Kingdom,17.85
...,...,...,...,...,...,...
19729,572188,"PLAYING CARDS KEEP CALM & CARRY ON, PLAYING CA...",2011/10/21 11:06,14967.0,United Kingdom,463.80
19730,572189,"HOT WATER BOTTLE KEEP CALM, CREAM CUPID HEARTS...",2011/10/21 11:08,15286.0,United Kingdom,240.55
19731,572190,"JUMBO BAG VINTAGE DOILY, LUNCH BAG VINTAGE DOI...",2011/10/21 11:16,Non-member,United Kingdom,7.46
19732,572191,"TRAVEL CARD WALLET I LOVE LONDON, SPOTTY BUNTI...",2011/10/21 11:18,17377.0,United Kingdom,112.18
19733,572192,"3 GARDENIA MORRIS BOXED CANDLES, EDWARDIAN PAR...",2011/10/21 11:30,18118.0,United Kingdom,300.59

In [8]:
shopping.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520133 entries, 0 to 520135
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      520133 non-null  object
 1   Itemname    520133 non-null  object
 2   Date        520133 non-null  object
 3   CustomerID  520133 non-null  object
 4   Country     520133 non-null  object
 5   Total       520133 non-null  float64
dtypes: float64(1), object(5)
memory usage: 27.8+ MB

In [9]:
member=grouped.groupby('CustomerID').agg({
    'Itemname': lambda x: ', '.join(x),
    'Date': 'first',
    'Country': 'first',
    'Total': 'sum'}).reset_index()

member.columns = ['CustomerID', 'Itemname', 'Date', 'Country', 'Total']
member

,CustomerID,Itemname,Date,Country,Total
0,12346.0,MEDIUM CERAMIC TOP STORAGE JAR,2011/1/18 10:01,United Kingdom,77183.60
1,12347.0,"BLACK CANDELABRA T-LIGHT HOLDER, AIRLINE BAG V...",2010/12/7 14:57,Iceland,4310.00
2,12349.0,"PARISIENNE CURIO CABINET, SWEETHEART WALL TIDY...",2011/11/21 9:51,Italy,1757.55
3,12350.0,"CHOCOLATE THIS WAY METAL SIGN, METAL SIGN NEIG...",2011/2/2 16:01,Norway,334.40
4,12352.0,"WOODEN HAPPY BIRTHDAY GARLAND, PINK DOUGHNUT T...",2011/2/16 12:33,Norway,2506.04
...,...,...,...,...,...
4293,18281.0,"ROBOT BIRTHDAY CARD, CARD CIRCUS PARADE, PENNY...",2011/6/12 10:53,United Kingdom,80.82
4294,18282.0,"REGENCY CAKESTAND 3 TIER, ROSES REGENCY TEACUP...",2011/12/2 11:43,United Kingdom,178.05
4295,18283.0,"CHARLOTTE BAG PINK POLKADOT, LUNCH BAG WOODLAN...",2011/1/6 14:14,United Kingdom,2094.88
4296,18287.0,"SMALL PURPLE BABUSHKA NOTEBOOK, SMALL RED BABU...",2011/5/22 10:39,United Kingdom,1837.28
4297,Non-member,"DECORATIVE ROSE BATHROOM BOTTLE, DECORATIVE CA...",2010/12/1 14:32,United Kingdom,1726306.52

In [15]:
member = member.sort_values(by='Total', ascending=False)
member

,CustomerID,Itemname,Date,Country,Total
4297,Non-member,"DECORATIVE ROSE BATHROOM BOTTLE, DECORATIVE CA...",2010/12/1 14:32,United Kingdom,1726306.52
1661,14646.0,"PACK OF 12 WOODLAND TISSUES, PACK OF 12 PINK P...",2010/12/20 10:09,Netherlands,280206.02
4160,18102.0,"WOOD BLACK BOARD ANT WHITE FINISH, UTILTY CABI...",2010/12/7 16:42,United Kingdom,259657.30
3688,17450.0,"BATH BUILDING BLOCK WORD, HEART OF WICKER SMAL...",2010/12/7 9:23,United Kingdom,194550.79
2970,16446.0,"PANTRY SCRUBBING BRUSH, PANTRY PASTRY BRUSH, P...",2011/5/18 9:52,United Kingdom,168472.50
...,...,...,...,...,...
4057,17956.0,SET OF 2 WOODEN MARKET CRATES,2011/4/4 13:47,United Kingdom,12.75
2976,16454.0,"Manual, MIDNIGHT BLUE DROP CRYSTAL NECKLACE",2011/10/26 11:40,United Kingdom,6.90
1765,14792.0,"CAROUSEL DESIGN WASHBAG, AIRLINE BAG VINTAGE T...",2011/10/7 9:19,United Kingdom,6.20
3179,16738.0,POLYESTER FILLER PAD 30CMx30CM,2011/2/15 9:46,United Kingdom,3.75
662,13256.0,ASSTD DESIGN 3D PAPER STICKERS,2011/11/25 15:57,United Kingdom,0.00